.destinos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinos div {
    margin-top: 20px;
}

.destinos a {
    text-align: end;
    text-decoration: none;
}

.destinos h5 {
    text-align: center;
}

.destinos h6 {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.433);
    border-radius: 5px;
}